/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

/* Add bottom corners to expanded accordion header */
.accordion-header.expanded {
    border-bottom-left-radius: 0; /* Rounded corners on the top only when expanded */
    border-bottom-right-radius: 0;
}

.accordion-content.active {
    display: block; /* Show content only when it has the 'active' class */
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #654d83; /* Background color for the header */
    margin-bottom: 20px;
}

.header-background {
    flex: 1;
    height: 100px; /* Set the desired height of the header */
}

.header-content {
    flex: 0 0 100%; /* Set the desired width for the header content */
    font-family: 'Ultra', sans-serif;
    font-size: 90px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 0px;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(15, 48, 59);
    color: rgb(255, 255, 255);
    padding: 0px;
    text-align: center;
}

header h1 {
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 10px;
    color: white;
}

header h2 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

header h3 {
    font-size: 18px;
    margin-bottom: 1px;
    font-weight: bold;
    color: rgb(11, 0, 32);
}

header h4 {
    font-size: 18px;
    font-weight: normal;
    color: rgb(0, 0, 0);
}

.accordion-container {
    max-width: 700px;
    margin: 0 auto;
}

.accordion-item {
    border: 0px solid #573fad;
    border-radius: 15px;
    margin-bottom: 10px;
}

.accordion-header {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    padding: 20px;
    background-color: #534585;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 24px;
}

/* Define different background colors for each accordion header */
.color-1 {
    background-color: #8773c0; /* Gray */
}

.color-2 {
    background-color: #a5d1ff; /* Blue */
}

.color-3 {
    background-color: #fcd557; /* Blue */
}

.color-4 {
    background-color: #ff5a5a; /* Blue */
}

.color-5 {
    background-color: #5aa878; /* Blue */
}

.color-6 {
    background-color: #ffd9a0; /* Blue */
}

.color-7 {
    background-color: #7381ff; /* Blue */
}

.color-8 {
    background-color: #ff466e; /* Blue */
}

/* Add more classes with different background colors as needed */


.accordion-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: none;
    padding: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

body {
    background-color: #e3d1ff; /* Replace with your desired background color */
}